/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f9;
  color: #333;
}

.header {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
}

/* Top bar with Date and Social Media Links */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.date {
  font-weight: bold;
  text-align: left;
}

.social-media a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

/* Logo and Clouds */
.logo {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  float: left;
}


.cloud-left {
  top: 15px;
  left: 100px;
  border-top: 4px solid #648880;
}


/* Menu Button */
.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 1px solid #333;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.menu-button:after {
  content: '≡';
  font-size: 18px;
}

.menu-button:hover {
  background-color: #ddd;
}


.container {
  float: left;
}

  
